<div class="banner-master-cocktail">

  <div class="container">
    <h1>Master Cocktail</h1>
    <p> Be
      <span id="banner-typed-text"></span>
    </p>
    <%= link_to new_cocktail_path, class: "btn-light" do %>
      Add a new cocktail
    <% end %>
  </div>

</div>

<div class="container">

  <div class="grid-cocktails">
    <% @cocktails.each do |cocktail| %>

      <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <div class="card-cocktail-name">

          <%= link_to cocktail_path(cocktail) do %>
            <%= cocktail.name %>
          <% end %>

        </div>

      </div>

    <% end %>
  </div>

</div>

