<div class="banner-master-cocktail">

  <div class="container">
    <h1>Master Cocktail</h1>
    <p>Be traditional, be creative, be bold.</p>
  </div>

</div>

<div class="container">

  <div class="new-cocktail">

    <h2>Add a cocktail</h2>

    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class:"btn-heavy" %>
    <% end %>

  </div>

</div>

