// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-ingredients-cocktail {
  display: grid;
  grid-template-columns: 3fr 3fr;
  align-items: start;
  grid-gap: 100px;
  justify-items: stretch;
  ul {
    list-style-type: circle;
    margin-bottom: 25px;
  }
}

#btn-new-ingredient {
  color: $green;
  font-weight: bold;
  cursor: pointer;
}

.review-list {
  ul {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 8px;
    }
  }
}

.reviews {
  i {
    color: $green;
  }
}

